::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #dadcde; }

::-webkit-scrollbar-thumb {
  background: #1a36c0; }

::-webkit-scrollbar-thumb:hover {
  background: #273579; }

body {
  background-color: #dadcde; }

header {
  display: flex;
  flex-direction: column;
  width: 100%; }
  header a {
    color: #d3d3d3;
    font-family: "Pixelated";
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: color; }
  header a:hover,
  header div:hover {
    color: #4b515e;
    transition-duration: 0.4s;
    transition-property: color; }
  header div {
    background-color: #0e0f11;
    color: #d3d3d3; }
  header .black-nav-selectors {
    display: flex;
    flex-direction: row-reverse; }
    header .black-nav-selectors a {
      margin: 0 8px;
      padding: 7px 0; }
  header nav {
    background-color: #d3d3d3;
    -webkit-box-shadow: 0px 0px 6px 0px #4b515e;
    -moz-box-shadow: 0px 0px 6px 0px #4b515e;
    box-shadow: 0px 0px 6px 0px #4b515e; }
    header nav .white-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    header nav div {
      background-color: #d3d3d3; }
      header nav div a {
        color: #4b515e;
        transition-duration: 0.4s;
        transition-property: color; }
        header nav div a img {
          margin-right: 4px; }
      header nav div a:hover {
        color: #1a36c0;
        transition-duration: 0.4s;
        transition-property: color; }

.menu-icon {
  display: none; }

main {
  display: flex;
  flex-direction: column; }
  main .welcome {
    display: flex;
    flex-direction: column;
    color: #1a36c0;
    text-shadow: 2px 2px 4px #273579;
    position: relative;
    height: 512px; }
    main .welcome h2 {
      font-family: "ArcadeClassic";
      font-size: 32px;
      line-height: 0.8em; }
    main .welcome h1 {
      font-family: "ArcadeClassic";
      font-size: 100px;
      line-height: 0.6em; }
    main .welcome p {
      margin-top: 20vh;
      font-family: "pix PixelFJVerdana12pt";
      font-size: 10px;
      line-height: 1.8em; }
    main .welcome div {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 5vw; }
  main .welcome::after {
    content: "";
    background: url("../img/yin-yang-build.jpg");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.page-max-width {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto; }

.nav-logo {
  margin: 8px 4px; }

.nav-logo img {
  float: left; }

.white-nav-selectors {
  margin-right: 3vw; }

.white-nav-selectors a {
  margin-left: 5vw; }

.white-nav-selectors a:nth-child(6) {
  padding: 8px 16px;
  border: 3px solid #1a36c0;
  background-color: #d3d3d3;
  transition-duration: 0.4s;
  transition-property: padding, color, border-color; }

.white-nav-selectors a:nth-child(6):hover {
  padding: 24px 16px;
  color: #5d74d6;
  border-color: #5d74d6;
  transition-property: padding, color, border-color; }

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0e0f11 url("../img/pattern-gray.svg"); }
  .games div {
    flex: 1; }
  .games h1 {
    font-family: "ArcadeClassic";
    font-size: 48px;
    color: #d3d3d3; }
  .games h2 {
    font-family: "ArcadeClassic";
    font-size: 24px;
    color: #1a36c0;
    text-shadow: 1px 1px 2px #5d74d6; }
  .games a {
    font-family: "Pixelated";
    color: #d3d3d3; }
  .games p {
    font-family: "pix PixelFJVerdana12pt";
    font-size: 8px;
    line-height: 1.8em;
    color: #d3d3d3; }

.server-sections {
  display: flex;
  flex-direction: row;
  width: 80%; }
  .server-sections div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 8px;
    margin: 8px;
    transition-property: background-color;
    transition-duration: 0.4s; }
    .server-sections div img {
      width: 25%;
      height: auto; }
  .server-sections div:hover {
    background-color: #5d74d6;
    border: solid 3px #1a36c0;
    padding: 5px; }

@media screen and (max-width: 1140px) {
  .server-sections {
    width: 100%; } }
@media screen and (max-width: 916px) {
  .server-sections h2 {
    font-size: 16px; }
  .server-sections p {
    font-size: 6px; } }
@media screen and (max-width: 768px) {
  .black-nav {
    display: none; }

  .white-nav-selectors a {
    display: none; }

  .white-nav-selectors a:last-of-type {
    display: inline; }

  .menu-icon svg {
    width: 32px;
    height: auto; }
    .menu-icon svg rect {
      fill: #4b515e; }

  .server-sections {
    flex-direction: column; }
    .server-sections h2 {
      font-size: 24px; }
    .server-sections p {
      font-size: 8px; } }

/*# sourceMappingURL=style.css.map */
