$color-main-light: #f07a6d;
$color-main: #ec5242;
$color-main-dark: #742820;
$color-secondary-light: #434957;
$color-secondary: #272a31;
$color-secondary-dark: #181a1f;
$color-light: #d3d3d3;
$color-background: #dadcde;
$color-background-dark: #3b3a4b;

$font-links: 'Lato',
Arial,
sans-serif;
$font-titles: 'Cocogoose',
Arial,
sans-serif;
$font-paragraphs: 'Lato',
Arial,
sans-serif;

$font-paragraph-size: 14px;
$font-paragraphs-size-small: 12px;
$font-paragraphs-size-extra-small: 8px;

$font-extra-small-title-size: 12px;
$font-small-title-size: 18px;
$font-medium-title-size: 24px;
$font-big-title-size: 32px;
$font-huge-title-size: 48px;

$transition-fast: 0.1s;
$transition-medium: 0.4s;
$transition-slow: 1.0s;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-background;
}

::-webkit-scrollbar-thumb {
  background: $color-main;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-main-dark;
}

body {
  background-color: $color-background;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    color: $color-light;
    font-family: $font-links;
    text-decoration: none;
    transition-duration: $transition-medium;
    transition-property: color;
  }

  a:hover,
  div:hover {
    color: $color-secondary-light;
    transition-duration: $transition-medium;
    transition-property: color;
  }

  div {
    background-color: $color-secondary;
    color: $color-light;
  }

  .black-nav-selectors {
    display: flex;
    flex-direction: row-reverse;

    a {
      margin: 0 8px;
      padding: 7px 0;
    }
  }

  nav {
    background-color: $color-light;
    -webkit-box-shadow: 0 0 6px 0 $color-secondary-light;
    -moz-box-shadow: 0 0 6px 0 $color-secondary-light;
    box-shadow: 0 0 6px 0 $color-secondary-light;

    .white-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    div {
      background-color: $color-light;

      a {
        color: $color-secondary-light;
        transition-duration: $transition-medium;
        transition-property: color;

        img {
          margin-right: 4px;
        }
      }

      a:hover {
        color: $color-main;
        transition-duration: $transition-medium;
        transition-property: color;
      }
    }
  }
}

.menu-icon {
  display: none;
}

main {
  display: flex;
  flex-direction: column;

  .welcome {
    display: flex;
    flex-direction: column;
    color: $color-main;
    text-shadow: 2px 2px 4px $color-main-dark;
    position: relative;
    height: 512px;

    h2 {
      font-family: $font-titles;
      font-size: $font-medium-title-size;
    }

    h1 {
      font-family: $font-titles;
      font-size: $font-huge-title-size;
      line-height: 1.4em;
    }

    p {
      margin-top: 20vh;
      font-family: $font-paragraphs;
      font-size: $font-paragraph-size;
      line-height: 1.8em;
    }

    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 5vw;
    }
  }

  .welcome::after {
    content: "";
    background: url("../img/yin-yang-build.jpg");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.page-max-width {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
}

.nav-logo {
  margin: 8px 4px;
}

.nav-logo img {
  float: left;
}

.white-nav-selectors {
  margin-right: 3vw;
}

.white-nav-selectors a {
  margin-left: 5vw;
}

.white-nav-selectors a:nth-child(6) {
  padding: 8px 16px;
  border: 3px solid $color-main;
  background-color: $color-light;
  transition-duration: $transition-medium;
  transition-property: padding, color, border-color;
}

.white-nav-selectors a:nth-child(6):hover {
  padding: 24px 16px;
  color: $color-main-light;
  border-color: $color-main-light;
  transition-property: padding, color, border-color;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-secondary url("../img/pattern-gray.svg");

  div {
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h1 {
    font-family: $font-titles;
    font-size: $font-big-title-size;
    color: $color-light;
  }

  h2 {
    font-family: $font-titles;
    font-size: $font-small-title-size;
    color: $color-main;
    text-shadow: 1px 1px 2px $color-main-light;
  }

  div a {
    text-decoration: none;
    font-family: $font-links;
    color: $color-light;
  }

  div a:hover {
    text-decoration: underline $color-main-light;
    cursor: pointer;
  }

  p {
    font-family: $font-paragraphs;
    font-size: $font-paragraphs-size-small;
    line-height: 1.8em;
    color: $color-light;
  }
}

.server-sections {
  display: flex;
  flex-direction: row;
  width: 80%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 8px;
    margin: 8px;
    transition-property: background-color;
    transition-duration: $transition-medium;

    img {
      width: 25%;
      height: auto;
    }
  }

  div:hover {
    background-color: $color-main-light;
    border: solid 3px $color-main;
    padding: 5px;
  }
}

.join-button,
.about-button {
  display: none;
}

.featured-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  h1 {
    font-family: $font-titles;
    font-size: $font-big-title-size;
    color: $color-main;
    text-shadow: 1px 1px 2px $color-main-light;
    padding-bottom: 20px;
    text-decoration: underline;
  }

  .players {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .player {
      display: flex;
      flex-direction: row;
      width: 450px;
      padding: 5px;

      div:first-of-type {
        flex: 1;
      }

      div:last-of-type {
        flex: 2;
        margin-left: 12px;
      }

      img {
        width: 100%;
        height: auto;
        image-rendering: pixelated;
        transition-property: transform;
        transition-duration: $transition-fast;
      }

      img:hover {
        transform: scale(1.5);
      }

      h2 {
        font-family: $font-titles;
        font-size: $font-small-title-size;
        color: $color-main;
        text-shadow: 1px 1px 2px $color-main-light;
        margin-bottom: 10px;
      }

      p:first-of-type {
        font-family: $font-paragraphs;
        font-size: $font-paragraphs-size-small;
        line-height: 1.8em;
        color: $color-main;
        margin-bottom: 10px;
      }

      p:last-of-type {
        font-family: $font-paragraphs;
        font-size: $font-paragraphs-size-small;
        line-height: 1.8em;
        color: $color-secondary;
      }
    }
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-background-dark;

  div {
    flex: 1;
    padding-bottom: 15px;

    h1 {
      font-family: $font-titles;
      font-size: $font-big-title-size;
      color: $color-main;
      text-shadow: 1px 1px 2px $color-main-light;
      padding-bottom: 20px;
      padding-top: 20px;
      text-decoration: underline;
    }
  }

  .partners-row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      text-align: center;
    }

    img {
      height: 40px;
      width: auto;
      image-rendering: pixelated;
    }
  }
}

.creative-commons {
  background-color: $color-background;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 144px;

  div {
    flex: 1;
    height: auto;
    margin: auto;
    padding: 0 15px;
  }

  .cc-logo {
    text-align: right;
    height: auto;
    margin: auto;
  }

  p {
    font-family: $font-paragraphs;
  }
}

.creative-commons-gray {
  background-color: $color-background-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 144px;

  div {
    flex: 1;
    height: auto;
    margin: auto;
    padding: 0 15px;
  }

  .cc-logo {
    text-align: right;
    height: auto;
    margin: auto;
  }

  p {
    font-family: $font-paragraphs;
    color: $color-light;
  }
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;

  div {
    width: 85%;
    margin: 0 auto;
  }

  h1 {
    padding-top: 80px;
    padding-bottom: 40px;
    margin: 0 auto;
    font-family: $font-titles;
    color: $color-main;
    font-size: $font-huge-title-size;
  }

  h2 {
    font-family: $font-paragraphs;
    font-size: $font-medium-title-size;
    font-weight: bold;
    padding-bottom: 45px;
  }

  p {
    font-family: $font-paragraphs;
    color: $color-secondary-dark;
    line-height: 1.8em;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 80px;

    a {
      font-weight: bold;
      color: $color-secondary;
    }
  }

  .microverse-logo {
    padding-bottom: 60px;
  }

  .previous-constructions {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .construction-container {
    width: 450px;
    height: 250px;
    position: relative;
    padding-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-family: $font-paragraphs;
      text-shadow: 2px 2px 4px $color-light;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.memberships-title {
  text-align: center;

  h1 {
    font-family: $font-titles;
    font-size: $font-huge-title-size;
    padding-top: 50px;
  }
}

.position-sticky-left {
  position: sticky;
  left: 0;
  z-index: 1;
}

.membership-purchase {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-family: $font-paragraphs;
    font-size: $font-medium-title-size;
    font-weight: bold;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 5px 0;
    margin: 30px 0;

    span {
      color: $color-main;
    }
  }

  p,
  span,
  a {
    font-family: $font-paragraphs;
  }

  .membership-selection {
    width: 80%;
    border: dashed $color-main 3px;
    margin: 0 auto;
    padding: 24px 0;
    overflow-x: scroll;
    overflow-y: hidden;

    table {
      font-family: $font-paragraphs;
      width: 100%;

      td {
        padding: 6px 0;
        background-color: $color-background;
      }

      .pricetag {
        color: $color-main;
        font-size: $font-paragraph-size + 3;
        font-weight: bold;
      }
    }
  }

  .kits {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .purchase-button {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-light;
    background-color: $color-main;
    width: 120px;
    text-align: center;
    align-self: center;
    transition-property: background-color;
    transition-duration: $transition-fast;
    text-decoration: none;
    margin-bottom: 40px;
  }

  .purchase-button:hover {
    background-color: $color-main-dark;
    text-decoration: none;
  }
}

@media screen and (max-width: 1140px) {
  .server-sections {
    width: 100%;
  }
}

@media screen and (max-width: 916px) {
  .server-sections {
    h2 {
      font-size: $font-extra-small-title-size;
    }

    p {
      font-size: $font-paragraphs-size-extra-small;
    }
  }
}

@media screen and (max-width: 768px) {
  .black-nav {
    display: none;
  }

  .white-nav-selectors a {
    display: none;
  }

  .white-nav-selectors a:last-of-type {
    display: inline;
  }

  .menu-icon {
    svg {
      width: 32px;
      height: auto;

      rect {
        fill: $color-secondary-light;
      }
    }
  }

  .server-sections {
    flex-direction: column;

    h2 {
      font-size: $font-small-title-size;
    }

    p {
      font-size: $font-paragraphs-size-small;
    }

    div {
      flex-direction: row;

      h2 {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        font-size: $font-paragraph-size;
      }
    }
  }

  .join-button,
  .about-button {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-light;
    background-color: $color-main;
    width: 120px;
    text-align: center;
    align-self: center;
    transition-property: background-color;
    transition-duration: $transition-fast;
    text-decoration: none;
  }

  .about-button {
    margin-top: 10px;
  }

  .join-button:hover,
  .about-button:hover {
    background-color: $color-main-dark;
    text-decoration: none;
  }

  .about-page {
    div {
      width: 100%;
    }

    p {
      width: 95%;
    }
  }

  .memberships-title {
    h1 {
      font-size: $font-medium-title-size;
    }
  }

  .membership-purchase {
    h2 {
      font-size: $font-small-title-size;
    }
  }

  .creative-commons,
  .creative-commons-gray {
    flex-direction: column;

    .cc-logo {
      padding: 15px 0 0 0;
      margin: 0 auto;
    }
  }
}